.borderBlue{ border-color: #0084ff !important; }
.borderRed{ border-color: #ff0000 !important; }
.borderGreen{ border-color: #28a745 !important; }

.colorBlue{ color: #0084ff !important; }
.colorRed{ color: #ff0000 !important; }
.colorGreen{ color: #28a745 !important; }

#container{ max-width: 500px; line-height: 24px; font-size: 17px; margin: auto; }
#container h1{ line-height: 50px; text-align: center; font-size: 47px; font-weight: bold; }

#passwordInputGrid{ margin: 5px 0; border-bottom: 1px solid #0084ff; display: grid; grid-template-columns: auto 40px; align-items: center; }
#passwordInputGrid input{ width: 100%; height: 40px; padding: 0 5px; border: none; background: none; display: block; }
.passwordIcon{ text-align: right; font-size: 20px; cursor: pointer; }
#showPasswordIcon{ display: none; }

#passwordHelp{ color: #666892; }